/* @media(max-width: 37.5rem) {} */

/* mediano */
@media(min-width: 600px) and (max-width: 768px) {
    main {
        section {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        article {
            width: calc(30% - 15px);

            h3 {
                font-size: 12px;
                padding: 6px;
            }

            p {
                font-size: 8px;
            }

        }

    }
}

/* grande */
@media(min-width: 769px) {
    #carrito {
        color: var(--color02);
        text-decoration: none;

        &:hover {
            color: var(--color01);
        }
    }

    main {
        section {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;

        }

        article {
            flex-direction: column;
            width: calc(25% - 15px);

            #anadircarrito:hover {
                background-color: var(--color03);
                color: var(--color02);
            }
        }

    }

    .hero {
        height: 50vh;
    }


    .hero-content {
        font-size: 25px;
    }

    .carrito {

        .vistacarrito {
            font-family: var(--fontkulim);
            right: 0;
            width: 25%;
            height: 100%;
            background-color: var(--color01);
            padding: 10px;
            position: absolute;
            border-radius: 20px 0px 0px 0px;
        }
    }

}