/* @media(max-width: 37.5rem) {} */

/* mediano */
@media(min-width: 600px) and (max-width: 768px) {
    main {
        section {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        article {
            width: calc(30% - 15px);

        }

    }
}

/* grande */
@media(min-width: 769px) {
    #carrito {
        color: var(--color02);
        text-decoration: none;

        &:hover {
            color: var(--color01);
        }
    }

    main {
        section {
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }

        article {
            flex-direction: column;
            width: calc(25% - 15px);

            #anadircarrito:hover {
                background-color: var(--color03);
                color: var(--color02);
            }
        }

    }
}