@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* .kulim-park-regular {
  font-family: "Kulim Park", serif;
  font-weight: 400;
  font-style: normal;
} 
  
.kulim-park-bold {
  font-family: "Kulim Park", serif;
  font-weight: 700;
  font-style: normal;
}
  
.krona-one-regular {
  font-family: "Krona One", serif;
  font-weight: 400;
  font-style: normal;
}*/

/* Variables */

:root {
    --color01: #808836;
    --color02: #D10363;
    --color03: #FF9A00;
    --color04: #FFBF00;

    --fontkrona: "Krona One", serif;
    --fontkulim: "Kulim Park", serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}



/* header------------------------------------------------------- */
header {
    display: flex;
    background-color: var(--color03);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;


    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        i {
            color: var(--color02);
            font-size: 20px;

            span {
                font-family: var(--fontkrona);
                color: var(--color02);
                font-size: 16px;
            }
        }
    }
}

/* main--------------------------------------------------------- */

main {
    padding-bottom: 150px;
    padding-top: 20px;
    background-color: var(--color01);


    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        font-family: var(--fontkulim);

    }

    #paginacion {
        text-align: center;
        margin-top: 40px;

        button {
            font-family: var(--fontkulim);
            font-weight: 700;
            padding: 15px;
            cursor: pointer;
            background-color: var(--color02);
            color: var(--color03);
            border-radius: 50px;
            border: none;

        }
    }

    article {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #454a15;
        padding: 20px;
        width: calc(60%);
        align-items: center;
        text-align: center;
        position: relative;

        h3 {
            padding: 10px;
            font-family: var(--fontkrona);
            color: var(--color01);
            font-size: 14px;
        }

        p {
            font-size: 10px;
        }


        #anadircarrito {

            font-weight: 700;
            font-size: 16px;
            padding: 15px;
            cursor: pointer;
            background-color: var(--color02);
            color: var(--color03);
            border-radius: 50px;
            border: none;
            margin-top: 10px;
        }

    }

    #plantas figure {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: 0;
    }


    #plantas img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.carrito {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    opacity: 0;
    display: none;

    .vistacarrito {
        font-family: var(--fontkulim);
        right: 0;
        width: 80%;
        height: 100%;
        background-color: var(--color01);
        padding: 10px;
        position: absolute;
        border-radius: 20px 0px 0px 0px;


        #misplantas {

            article {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 20px;
                margin-top: 10px;
            }

            figure {
                width: 30%;
                margin: 0;
                height: auto;
            }

            img {
                height: auto;
                display: block;
                width: 100%;
                border-radius: 10px;
            }

            .descripcioncarrito {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    color: var(--color03);
                    font-family: var(--fontkrona);
                }

                h4 {
                    margin-top: 5px;
                    font-size: 14px;
                }
            }

            #borrararticulo {
                width: 20px;
                height: 20px;
                background-color: var(--color02);
                color: var(--color03);
                border-radius: 50%;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                margin-top: 10px;
            }
        }

        .subtotal {
            padding: 20px;
            text-align: center;

            span {
                color: var(--color02);
                font-size: 30px;
                background-color: var(--color03);
            }
        }

        #finalizarcompra {
            font-weight: 700;
            font-size: 16px;
            padding: 15px;
            background-color: var(--color02);
            color: var(--color03);
            border-radius: 50px;
            border: none;
            align-items: center;
            margin: 0 auto;
            display: block;
        }

        .cerrar {
            color: var(--color02);
            width: 30px;
            height: 30px;
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }
}